page-home {
    .center {
        text-align: center;
    }
    .toolbar-title.toolbar-title-md{
        color: #ffffff;
    }

    .warning {
        background-color: orange
    }

    .success {
        background-color: limegreen
    }

    .full {
        background-color: red
    }

    ion-note {
        font-size:1.8rem !important;
    }
}