<ion-header text-center>
  <ion-navbar color="dark">
    <ion-title>{{title}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addMatch()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let match of matches; let k = index " (click)="showMatch($event, match)">
    <img src="{{match.image}}" height="180 px" />
    <ion-card-content>
      <ion-card-title>
        {{match.name}}
      </ion-card-title>
      <ion-row>
        <ion-col center>
          <ion-note color="dark">
            <ion-icon name="calendar"></ion-icon>
            {{ match.time | date:'medium' }}
          </ion-note>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-note color="dark">
            <ion-icon name="podium"></ion-icon>
            {{match.level}}
          </ion-note>
        </ion-col>
        <ion-col>
          <ion-note color="dark">
            <ion-icon name="pin"></ion-icon>
            {{match.place}}
          </ion-note>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3 offset-9>
          <ion-badge *ngIf="counter[k]>0" [ngClass]="{'success': counter[k]<3 ,
      'warning': counter[k]==3 , 'full': counter[k]>3}">{{counter[k]}} / 4</ion-badge>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>