page-show-match {
    .backgroundImage {
        background-image: url('../assets/img/showMatch.jpg');
        background-size: cover;
        height: 100%;
    }
    .circle-img{
        border-radius: 50% !important;
        width: 65px !important;
        height: 65px !important;
    }
    ion-icon.icon.icon-md{
        font-size: 2.8em !important;
    }
    .matchInfo{
        padding: 20px;
    }
    .joinMatch{
        position: fixed;
        bottom: 0;
    }
}
