<ion-header>
  <ion-toolbar color="dark">
    <ion-searchbar (ionInput)="getItems($event)" placeholder="Buscar por club"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list>

    <ion-item-group *ngFor="let places of matches">
      <ion-item-divider color="light">{{ places.placeName }}</ion-item-divider>
      <button ion-item *ngFor="let match of places.matchPlaces" (click)="showMatch($event, match)">{{ match.name }}</button>
    </ion-item-group>
  </ion-list>
</ion-content>


